@media(max-width:320px){
    .landing_page img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact_us i{
        font-size: 10px;
    }
    #img1{
      margin-top:70px;
      width: 180px;
      height: 150px;
    }


    #img2{
        width: 150px;
      height: 120px;
    }

    
    .logo1 img,.logo2 img{
    display: none;
    }

    nav,footer{
        display: grid; 
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        gap: 1px;
    }
.main{
    display: flex; 
    width: 100%;
    gap: 1px;
    align-items: center;
    justify-content: center;}


    .chat-box{
        height: 50vh;
        width: 80%;
    }

    .data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }


    .c-icon{
        
        justify-content: center;
        align-items: center;
        background-color: #F7A1AA;
        border-radius: 50%;
        width:20px;
        height: 20px;
        margin-bottom: 5px;
    }

    footer{
        width:100%;
        align-items: center;
        background-color: #F7A1AA;
        justify-content: center;
    }
}




@media(max-width:576px) and (min-width:321px){
    .landing_page img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #img1{
      margin-top:70px;
      width: 180px;
      height: 150px;
    }


    #img2{
        width: 150px;
      height: 120px;
    }

    
    .logo1 img,.logo2 img{
    display: none;
    }

    nav{
        display: flex; 
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
    }


    .chat-box{
        height: 50vh;
        width: 80%;
    }

    .data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

}



@media(max-width:768px) and (min-width:577px){
    .landing_page img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #img1{
      margin-top:70px;
      width: 180px;
      height: 150px;
    }


    #img2{
        width: 150px;
      height: 120px;
    }

    
    .logo1 img,.logo2 img{
    display: none;
    }

    nav{
        display: flex; 
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
    }


    .chat-box{
        height: 50vh;
        width: 80%;
    }

    .data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }


}


@media(max-width:992px) and (min-width:769px){
    #img1{
        margin-top:70px;
        width: 180px;
        height: 150px;
    }
  
  
    #img2{
        width: 180px;
        height: 150px;
    }
    .chat-box{
        height: 50vh;
        width: 80%;
    }
    
  
}



@media(max-width:1200px) and (min-width:993px){
    #img1{
        margin-top:70px;
        width: 180px;
        height: 150px;
      }
  
  
      #img2{
          width: 150px;
        height: 120px;
      }
}


@media(max-width:1400px) and (min-width:1201px){
    #img1{
        margin-top:70px;
        width: 180px;
        height: 150px;
    }
  
  
    #img2{
          width: 150px;
        height: 120px;
    }
}
